.TimerEntry {
  position: relative;
  width: 100%;
  gap: 1em;
  padding: 1em;
  border-bottom: 1px solid;
}

.TimerEntry:last-of-type {
  border-bottom: none;
}

.TimerEntry__title {
  width: 30%;
  gap: 1em;
}

.TimerEntry__duplicates {
  width: 40px;
  height: 40px;
  background-color: var(--secondary);
  color: white;
  border-radius: 50%;
  border: 1px solid;
}

.TimerEntry__task-input {
  flex-grow: 1;
  padding: 0.5em;
  border: 1px solid transparent;
}

.TimerEntry__time {
  gap: 0.25em;
}

.TimerEntry__time input {
  padding: 0.4em 0.2em;
  text-align: center;
  border: 1px solid transparent;
}

.TimerEntry:hover .TimerEntry__task-input,
.TimerEntry:hover .TimerEntry__time input {
  border: 1px solid;
  transition: border 0.3s ease-in-out;
}

.TimerEntry__duration {
  flex-grow: 1;
  text-align: center;
}

.TimerEntry__duration span {
  padding-inline: 1em;
  border-left: 1px solid;
  border-right: 1px solid;
}

.TimerEntry__date-input {
  padding: 0.4em 0.2em;
  border: 1px solid transparent;
  transition: border 0.3s ease-in-out;
}

.TimerEntry:hover .TimerEntry__date-input {
  border: 1px solid;
}

.TimerEntry__dropdown-btn {
  padding: 0.5em;
}

.TimerEntry__dropdown-options {
  position: absolute;
  z-index: 10;
  top: 55px;
  right: 0;
  background-color: var(--light-primary);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.TimerEntry__dropdown-options ul {
  list-style: none;
}

.TimerEntry__dropdown-item {
  text-transform: capitalize;
  transition: all 0.25s ease-in-out;
}

.TimerEntry__dropdown-item:hover {
  background-color: rgb(230, 230, 230);
}

.TimerEntry__dropdown-item button {
  width: 100%;
  padding: 1em 2em;
  text-align: left;
}
