.Timer {
  width: 100%;
  gap: 1em;
  padding: 1em;
  border: 1px solid;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.Timer__task-input {
  flex-grow: 1;
  padding: 1em 0.5em;
  border: 1px solid transparent;
}

.Timer__time-input-container {
  gap: 0.25em;
}

.Timer__time-input-container input {
  padding: 0.8em 0.4em;
  border: 1px solid;
}

.Timer__duration {
  flex-grow: 1;
  text-align: center;
}

.Timer__date-input {
  padding: 0.8em 0.4em;
  border: 1px solid;
}

.Timer__duration span {
  padding-inline: 1em;
  border-left: 1px solid;
  border-right: 1px solid;
}

.Timer__start-btn,
.Timer__stop-btn,
.Timer__add-btn {
  padding: 1em;
  background-color: var(--secondary);
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.Timer__stop-btn {
  background-color: salmon;
}
