.Productivity-dark {
  background-color: var(--light-primary) !important;
  color: var(--light-tertiary) !important;
  border-color: var(--dark-tertiary) !important;
}

.Productivity-dark {
  background-color: var(--dark-primary) !important;
  color: var(--dark-tertiary) !important;
  border-color: var(--light-tertiary) !important;
}
