.SideBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
  padding-block: 3em;
  background-color: skyblue;
}

.SideBar i {
  color: white;
}

.SideBar__heading {
  width: 100%;
  gap: 0.5em;
  padding-bottom: 0.75em;
  color: white;
}

.SideBar__links {
  width: 100%;
  gap: 0.5em;
}

.SideBar__link {
  width: 90%;
  gap: 0.5em;
  padding: 1em 2em;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.SideBar__link:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.SideBar__link--active {
  background-color: rgb(255, 255, 255, 0.25);
}
