.TimerEntries {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  overflow-y: auto;
  padding-block: 2em;
  padding-right: 0.5em;
}

.TimerEntries__stats {
  display: flex;
  justify-content: space-between;
}

.TimerEntries__empty-msg {
  margin: auto;
}

.TimerEntries-grouped {
  border: 1px solid silver;
}

.TimerEntries-grouped__day {
  padding: 1em;
  text-transform: capitalize;
  background-color: rgb(230, 230, 230);
  border-bottom: 1px solid silver;
}
