.TimerEntries {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  overflow-y: auto;
  padding-block: 2em;
  padding-right: 0.5em;
}

.TimerEntries__stats {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.TimerEntries__stats-total {
  display: flex;
  gap: 2em;
}

.TimerEntries__stats-total h4 {
  display: flex;
  gap: 0.5em;
}

.TimerEntries__stats-total span {
  font-weight: 700;
}

.TimerEntries__view-options {
  padding-inline: 0.5em;
  font-size: 1rem;
  color: grey;
}

.TimerEntries__empty-msg {
  margin: auto;
}

.TimerEntries-grouped {
  border: 1px solid silver;
}

.TimerEntries-grouped__day {
  padding: 1em;
  text-transform: capitalize;
  background-color: rgb(230, 230, 230);
  border-bottom: 1px solid silver;
}
