.Timer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em;
  border: 1px solid silver;
}

.Timer__task-input {
  flex-grow: 1;
  padding: 1em 0.5em;
  border: 1px solid silver;
}

.Timer__time-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}

.Timer__time-input-container input {
  padding: 0.8em 0.4em;
  border: 1px solid silver;
}

.Timer__duration {
  flex-grow: 1;
  text-align: center;
}

.Timer__date-input {
  padding: 0.8em 0.4em;
  border: 1px solid silver;
}

.Timer__duration span {
  padding-inline: 1em;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
}

.Timer__start-btn,
.Timer__stop-btn,
.Timer__add-btn {
  padding: 1em;
  background-color: skyblue;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.Timer__stop-btn {
  background-color: salmon;
}

.Timer__modes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
