.TimerEntries {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  overflow-y: auto;
  padding-block: 2em;
  padding-right: 0.5em;
}

.TimerEntries__stats {
  display: flex;
  justify-content: space-between;
}

.TimerEntries__empty-msg {
  margin: auto;
}
