:root {
  --light-primary: white;
  --dark-primary: #292929;

  --secondary: #3282b8;

  --light-tertiary: grey;
  --dark-tertiary: lightgrey;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: Montserrat, sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
}

span {
  font-size: 1rem;
  font-weight: 400;
}

body {
  background-color: var(--light-primary);
  color: var(--light-tertiary);
}

input,
button,
select {
  border: none;
  outline: none;
  font-family: Montserrat, sans-serif;
  background-color: inherit;
  color: inherit;
}

input::placeholder {
  color: inherit;
}

i {
  color: inherit;
}

button {
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-spaced {
  justify-content: space-between;
}
